Entidades/web references/wsEDoc_GuiaRemision/WSEDOCNUBE_GUIAS_REMISION.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarGuiaRemisionSRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Credencial" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="GuiaRemision" type="tns:ENTGuiaRemision" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ENTGuiaRemision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo7" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo8" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo9" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioProceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RucTranportista" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemision" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionPartida" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialTransportista" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionTransportista" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rise" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaInicioTransporte" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaFinTransporte" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Placa" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTGuiaRemisionDestinatario" type="tns:ArrayOfENTGuiaRemisionDestinatario" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalGuiaRemision" type="tns:ArrayOfENTDatoAdicionalGuiaRemision" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatosOpcionales" type="tns:ENTDatosOpcionales" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatosFacturadorManual" type="tns:DatosFacturadorManual" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTGuiaRemisionDestinatario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTGuiaRemisionDestinatario" nillable="true" type="tns:ENTGuiaRemisionDestinatario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTGuiaRemisionDestinatario">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemisionDestinatario" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionDestinatario" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialDestinatario" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirDestinatario" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MotivoTraslado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocAduaneroUnico" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodEstabDestino" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruta" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocSustento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocSustento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumAutDocSustento" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocSustento" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemision" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTGuiaRemisionDetalle" type="tns:ArrayOfENTGuiaRemisionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTGuiaRemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTGuiaRemisionDetalle" nillable="true" type="tns:ENTGuiaRemisionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTGuiaRemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemisionDetalle" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoInterno" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoAdicional" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemisionDestinatario" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalGuiaRemisionDetalle" type="tns:ArrayOfENTDatoAdicionalGuiaRemisionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalGuiaRemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalGuiaRemisionDetalle" nillable="true" type="tns:ENTDatoAdicionalGuiaRemisionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalGuiaRemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalGuiaRemisionDetalle" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemisionDetalle" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalGuiaRemision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalGuiaRemision" nillable="true" type="tns:ENTDatoAdicionalGuiaRemision" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalGuiaRemision">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalGuiaRemision" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemision" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatosOpcionales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirectorioDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatosFacturadorManual">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FacturadorManual" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsaDirectorio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarGuiaRemisionSRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarGuiaRemisionSRIResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaEDOC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroComprobantes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="autorizaciones" type="tns:ArrayOfEAutorizacion" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comprobantes" type="tns:ArrayOfEComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EAutorizacion" nillable="true" type="tns:EAutorizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroAutorizacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaAutorizacion" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fechaAutorizacionSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ambiente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="comprobante" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMensaje" nillable="true" type="tns:EMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="identificador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensaje1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="informacionAdicional" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EComprobante" nillable="true" type="tns:EComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="claveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>