Entidades/web references/wsEDoc_ConsultaRecepcionCambiaEstado/WSRAD_KEY_CAMBIARESTADO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MarcarVisto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CiaTipoAlojamientoKey" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarVistoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="MarcarVistoResult" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarNoVisto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CiaTipoAlojamientoKey" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="IdDocumento" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarcarNoVistoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="MarcarNoVistoResult" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>