Entidades/web references/wsEDoc_ConsultaRecepcionCambiaEstado/WSRAD_KEY_CAMBIARESTADO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSRAD_KEY_CAMBIARESTADO" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gurusoft-lab.com/eDocEcuador/WSEDOC_RECEPCION/WSRAD_KEY_CAMBIARESTADO.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSRAD_KEY_CAMBIARESTADO_MarcarVisto_InputMessage">
    <wsdl:part name="parameters" element="tns:MarcarVisto" />
  </wsdl:message>
  <wsdl:message name="IWSRAD_KEY_CAMBIARESTADO_MarcarVisto_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarcarVistoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSRAD_KEY_CAMBIARESTADO_MarcarNoVisto_InputMessage">
    <wsdl:part name="parameters" element="tns:MarcarNoVisto" />
  </wsdl:message>
  <wsdl:message name="IWSRAD_KEY_CAMBIARESTADO_MarcarNoVisto_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarcarNoVistoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSRAD_KEY_CAMBIARESTADO">
    <wsdl:operation name="MarcarVisto">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRAD_KEY_CAMBIARESTADO/MarcarVisto" message="tns:IWSRAD_KEY_CAMBIARESTADO_MarcarVisto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRAD_KEY_CAMBIARESTADO/MarcarVistoResponse" message="tns:IWSRAD_KEY_CAMBIARESTADO_MarcarVisto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarcarNoVisto">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSRAD_KEY_CAMBIARESTADO/MarcarNoVisto" message="tns:IWSRAD_KEY_CAMBIARESTADO_MarcarNoVisto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSRAD_KEY_CAMBIARESTADO/MarcarNoVistoResponse" message="tns:IWSRAD_KEY_CAMBIARESTADO_MarcarNoVisto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSRAD_KEY_CAMBIARESTADO" type="tns:IWSRAD_KEY_CAMBIARESTADO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MarcarVisto">
      <soap:operation soapAction="http://tempuri.org/IWSRAD_KEY_CAMBIARESTADO/MarcarVisto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarcarNoVisto">
      <soap:operation soapAction="http://tempuri.org/IWSRAD_KEY_CAMBIARESTADO/MarcarNoVisto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRAD_KEY_CAMBIARESTADO">
    <wsdl:port name="BasicHttpBinding_IWSRAD_KEY_CAMBIARESTADO" binding="tns:BasicHttpBinding_IWSRAD_KEY_CAMBIARESTADO">
      <soap:address location="http://gurusoft-lab.com/eDocEcuador/WSEDOC_RECEPCION/WSRAD_KEY_CAMBIARESTADO.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>