Entidades/web references/wsEDoc_NotaDeCredito_LOCAL/WSEDOC_NOTAS_CREDITO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEDOC_NOTAS_CREDITO" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWSEDOC_NOTAS_CREDITO_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://labec.guru-soft.com/eDocEcuador/4.3/WSEDOC/WSEDOC_NOTAS_CREDITO.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSEDOC_NOTAS_CREDITO_EnviarNotaCreditoSRI_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotaCreditoSRI" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_NOTAS_CREDITO_EnviarNotaCreditoSRI_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotaCreditoSRIResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_NOTAS_CREDITO_EnviarNotaCreditoSRI_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotaCreditoSRI_XML" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_NOTAS_CREDITO_EnviarNotaCreditoSRI_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarNotaCreditoSRI_XMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSEDOC_NOTAS_CREDITO">
    <wsdl:operation name="EnviarNotaCreditoSRI">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_NOTAS_CREDITO/EnviarNotaCreditoSRI" message="tns:IWSEDOC_NOTAS_CREDITO_EnviarNotaCreditoSRI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_NOTAS_CREDITO/EnviarNotaCreditoSRIResponse" message="tns:IWSEDOC_NOTAS_CREDITO_EnviarNotaCreditoSRI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNotaCreditoSRI_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_NOTAS_CREDITO/EnviarNotaCreditoSRI_XML" message="tns:IWSEDOC_NOTAS_CREDITO_EnviarNotaCreditoSRI_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_NOTAS_CREDITO/EnviarNotaCreditoSRI_XMLResponse" message="tns:IWSEDOC_NOTAS_CREDITO_EnviarNotaCreditoSRI_XML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSEDOC_NOTAS_CREDITO" type="tns:IWSEDOC_NOTAS_CREDITO">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWSEDOC_NOTAS_CREDITO_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarNotaCreditoSRI">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_NOTAS_CREDITO/EnviarNotaCreditoSRI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNotaCreditoSRI_XML">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_NOTAS_CREDITO/EnviarNotaCreditoSRI_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEDOC_NOTAS_CREDITO">
    <wsdl:port name="BasicHttpBinding_IWSEDOC_NOTAS_CREDITO" binding="tns:BasicHttpBinding_IWSEDOC_NOTAS_CREDITO">
      <soap:address location="https://labec.guru-soft.com/eDocEcuador/4.3/WSEDOC/WSEDOC_NOTAS_CREDITO.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>