Entidades/web references/wsEDoc_NotaDeDebito41/WSEDOCNUBE_NOTAS_DEBITO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarNotaDebitoSRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Credencial" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NotaDebito" type="tns:ENTNotaDebito" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ENTNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo7" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo8" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo9" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo11" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo12" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo13" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo14" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo15" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DetalleNotaDebito" type="tns:ArrayOfENTDetalleNotaDebito" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaDebito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rise" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocModificado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocModificado" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocModificado" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonModificacion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorModificacion" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorTotal" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalNotaDebito" type="tns:ArrayOfENTDatoAdicionalNotaDebito" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTNotaDebitoImpuesto" type="tns:ArrayOfENTNotaDebitoImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatosOpcionales" type="tns:ENTDatosOpcionales" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatosFacturadorManual" type="tns:DatosFacturadorManual" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTNotaDebitoCompensacion" type="tns:ArrayOfENTCompensacion" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTNotaDebitoPagos" type="tns:ArrayOfENTNotaDebitoPagos" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveCertificado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreArchivo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreIntegracion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTMaquinaFiscal" type="tns:ENTMaquinaFiscal" />
      <xs:element minOccurs="1" maxOccurs="1" name="RegimenMicroempresas" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="AgenteRetencion" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ContribuyenteRimpe" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleNotaDebito" nillable="true" type="tns:ENTDetalleNotaDebito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="Razon" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalNotaDebito" nillable="true" type="tns:ENTDatoAdicionalNotaDebito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalNotaDebito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaDebito" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTNotaDebitoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTNotaDebitoImpuesto" nillable="true" type="tns:ENTNotaDebitoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTNotaDebitoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaDebitoImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaDebito" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatosOpcionales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirectorioDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatosFacturadorManual">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FacturadorManual" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsaDirectorio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTCompensacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTCompensacion" nillable="true" type="tns:ENTCompensacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTCompensacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tarifa" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTNotaDebitoPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTNotaDebitoPagos" nillable="true" type="tns:ENTNotaDebitoPagos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTNotaDebitoPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FormaPago" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Plazo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnidadTiempo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTMaquinaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Marca" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Modelo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Serie" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarNotaDebitoSRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarNotaDebitoSRIResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaEDOC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroComprobantes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="autorizaciones" type="tns:ArrayOfEAutorizacion" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comprobantes" type="tns:ArrayOfEComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EAutorizacion" nillable="true" type="tns:EAutorizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroAutorizacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaAutorizacion" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fechaAutorizacionSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ambiente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="comprobante" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMensaje" nillable="true" type="tns:EMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="identificador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensaje1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="informacionAdicional" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EComprobante" nillable="true" type="tns:EComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="claveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarNotaDebitoSRI_XML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Credencial" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NotaDebito" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotaDebitoSRI_XMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarNotaDebitoSRI_XMLResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>