Entidades/web references/wsEDoc_ReEnvioMail/WSEDOC_ENVIARMAIL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEDOC_ENVIARMAIL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWSEDOC_ENVIARMAIL_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://labec.guru-soft.com/eDocEcuador/WSEDOC_REENVIO/WSEDOC_ENVIARMAIL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://labec.guru-soft.com/eDocEcuador/WSEDOC_REENVIO/WSEDOC_ENVIARMAIL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSEDOC_ENVIARMAIL_EnviarCorreoDocumentoEmitido_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoDocumentoEmitido" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_ENVIARMAIL_EnviarCorreoDocumentoEmitido_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoDocumentoEmitidoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_ENVIARMAIL_ReenvioMailEnLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:ReenvioMailEnLinea" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_ENVIARMAIL_ReenvioMailEnLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReenvioMailEnLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_ENVIARMAIL_ResendArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendArchive" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_ENVIARMAIL_ResendArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendArchiveResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSEDOC_ENVIARMAIL">
    <wsdl:operation name="EnviarCorreoDocumentoEmitido">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_ENVIARMAIL/EnviarCorreoDocumentoEmitido" message="tns:IWSEDOC_ENVIARMAIL_EnviarCorreoDocumentoEmitido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_ENVIARMAIL/EnviarCorreoDocumentoEmitidoResponse" message="tns:IWSEDOC_ENVIARMAIL_EnviarCorreoDocumentoEmitido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReenvioMailEnLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_ENVIARMAIL/ReenvioMailEnLinea" message="tns:IWSEDOC_ENVIARMAIL_ReenvioMailEnLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_ENVIARMAIL/ReenvioMailEnLineaResponse" message="tns:IWSEDOC_ENVIARMAIL_ReenvioMailEnLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendArchive">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_ENVIARMAIL/ResendArchive" message="tns:IWSEDOC_ENVIARMAIL_ResendArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_ENVIARMAIL/ResendArchiveResponse" message="tns:IWSEDOC_ENVIARMAIL_ResendArchive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSEDOC_ENVIARMAIL" type="tns:IWSEDOC_ENVIARMAIL">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWSEDOC_ENVIARMAIL_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarCorreoDocumentoEmitido">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_ENVIARMAIL/EnviarCorreoDocumentoEmitido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReenvioMailEnLinea">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_ENVIARMAIL/ReenvioMailEnLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendArchive">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_ENVIARMAIL/ResendArchive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEDOC_ENVIARMAIL">
    <wsdl:port name="BasicHttpBinding_IWSEDOC_ENVIARMAIL" binding="tns:BasicHttpBinding_IWSEDOC_ENVIARMAIL">
      <soap:address location="https://labec.guru-soft.com/eDocEcuador/WSEDOC_REENVIO/WSEDOC_ENVIARMAIL.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>