Entidades/web references/wsEDoc_GuiaRemision41/WSEDOCNUBE_GUIAS_REMISION.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEDOCNUBE_GUIAS_REMISION" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWSEDOCNUBE_GUIAS_REMISION_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_GUIAS_REMISION.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSEDOCNUBE_GUIAS_REMISION_EnviarGuiaRemisionSRI_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarGuiaRemisionSRI" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_GUIAS_REMISION_EnviarGuiaRemisionSRI_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarGuiaRemisionSRIResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_GUIAS_REMISION_EnviarGuiaRemisionSRI_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarGuiaRemisionSRI_XML" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_GUIAS_REMISION_EnviarGuiaRemisionSRI_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarGuiaRemisionSRI_XMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSEDOCNUBE_GUIAS_REMISION">
    <wsdl:operation name="EnviarGuiaRemisionSRI">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOCNUBE_GUIAS_REMISION/EnviarGuiaRemisionSRI" message="tns:IWSEDOCNUBE_GUIAS_REMISION_EnviarGuiaRemisionSRI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOCNUBE_GUIAS_REMISION/EnviarGuiaRemisionSRIResponse" message="tns:IWSEDOCNUBE_GUIAS_REMISION_EnviarGuiaRemisionSRI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarGuiaRemisionSRI_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOCNUBE_GUIAS_REMISION/EnviarGuiaRemisionSRI_XML" message="tns:IWSEDOCNUBE_GUIAS_REMISION_EnviarGuiaRemisionSRI_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOCNUBE_GUIAS_REMISION/EnviarGuiaRemisionSRI_XMLResponse" message="tns:IWSEDOCNUBE_GUIAS_REMISION_EnviarGuiaRemisionSRI_XML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSEDOCNUBE_GUIAS_REMISION" type="tns:IWSEDOCNUBE_GUIAS_REMISION">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWSEDOCNUBE_GUIAS_REMISION_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarGuiaRemisionSRI">
      <soap:operation soapAction="http://tempuri.org/IWSEDOCNUBE_GUIAS_REMISION/EnviarGuiaRemisionSRI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarGuiaRemisionSRI_XML">
      <soap:operation soapAction="http://tempuri.org/IWSEDOCNUBE_GUIAS_REMISION/EnviarGuiaRemisionSRI_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEDOCNUBE_GUIAS_REMISION">
    <wsdl:port name="BasicHttpBinding_IWSEDOCNUBE_GUIAS_REMISION" binding="tns:BasicHttpBinding_IWSEDOCNUBE_GUIAS_REMISION">
      <soap:address location="https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_GUIAS_REMISION.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>