Entidades/web references/WSEDOCNUBE_CONSULTA_v4_3/WSEDOCNUBE_CONSULTA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEDOCNUBE_CONSULTA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IWSEDOCNUBE_CONSULTA_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_CONSULTA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSEDOCNUBE_CONSULTA_ConsultarProcesoSincronizadorAX_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProcesoSincronizadorAX" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_CONSULTA_ConsultarProcesoSincronizadorAX_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProcesoSincronizadorAXResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_CONSULTA_ConsultarInformacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarInformacion" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_CONSULTA_ConsultarInformacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarInformacionResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_CONSULTA_ConsultarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumento" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_CONSULTA_ConsultarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_CONSULTA_ConsultarDocumentoRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoRuta" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_CONSULTA_ConsultarDocumentoRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoRutaResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSEDOCNUBE_CONSULTA">
    <wsdl:operation name="ConsultarProcesoSincronizadorAX">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarProcesoSincronizadorAX" message="tns:IWSEDOCNUBE_CONSULTA_ConsultarProcesoSincronizadorAX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarProcesoSincronizadorAXResponse" message="tns:IWSEDOCNUBE_CONSULTA_ConsultarProcesoSincronizadorAX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarInformacion" message="tns:IWSEDOCNUBE_CONSULTA_ConsultarInformacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarInformacionResponse" message="tns:IWSEDOCNUBE_CONSULTA_ConsultarInformacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarDocumento" message="tns:IWSEDOCNUBE_CONSULTA_ConsultarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarDocumentoResponse" message="tns:IWSEDOCNUBE_CONSULTA_ConsultarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumentoRuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarDocumentoRuta" message="tns:IWSEDOCNUBE_CONSULTA_ConsultarDocumentoRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarDocumentoRutaResponse" message="tns:IWSEDOCNUBE_CONSULTA_ConsultarDocumentoRuta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSEDOCNUBE_CONSULTA" type="tns:IWSEDOCNUBE_CONSULTA">
    <wsp:PolicyReference URI="#BasicHttpBinding_IWSEDOCNUBE_CONSULTA_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarProcesoSincronizadorAX">
      <soap:operation soapAction="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarProcesoSincronizadorAX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacion">
      <soap:operation soapAction="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarInformacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumento">
      <soap:operation soapAction="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumentoRuta">
      <soap:operation soapAction="http://tempuri.org/IWSEDOCNUBE_CONSULTA/ConsultarDocumentoRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEDOCNUBE_CONSULTA">
    <wsdl:port name="BasicHttpBinding_IWSEDOCNUBE_CONSULTA" binding="tns:BasicHttpBinding_IWSEDOCNUBE_CONSULTA">
      <soap:address location="https://labec.guru-soft.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_CONSULTA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>