Entidades/web references/wsEDoc_LiquidacionCompra/WSEDOCNUBE_LIQUIDACIONES_COMPRA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarLiquidacionCompraSRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Credencial" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="LiquidacionCompra" type="tns:ENTLiquidacionCompra" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ENTLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Tipo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTLiquidacionCompraPagos" type="tns:ArrayOfENTLiquidacionCompraPagos" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTLiquidacionCompraReembolso" type="tns:ArrayOfENTLiquidacionCompraReembolso" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirProveedor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo7" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo8" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo9" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo11" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo12" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo13" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo14" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo15" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioProceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiquidacionCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionProveedor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialProveedor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionProveedor" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocReemb" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalComprobantesReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalBaseImponibleReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalImpuestoReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Moneda" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTLiquidacionCompraImpuesto" type="tns:ArrayOfENTLiquidacionCompraImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalLiquidacionCompra" type="tns:ArrayOfENTDatoAdicionalLiquidacionCompra" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FechaCarga" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleLiquidacionCompra" type="tns:ArrayOfENTDetalleLiquidacionCompra" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatosFacturadorManual" type="tns:DatosFacturadorManual" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveCertificado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreArchivo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatosOpcionales" type="tns:ENTDatosOpcionales" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreIntegracion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTMaquinaFiscal" type="tns:ENTMaquinaFiscal" />
      <xs:element minOccurs="1" maxOccurs="1" name="RegimenMicroempresas" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="AgenteRetencion" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="ContribuyenteRimpe" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTLiquidacionCompraPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTLiquidacionCompraPagos" nillable="true" type="tns:ENTLiquidacionCompraPagos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTLiquidacionCompraPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FormaPago" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Plazo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnidadTiempo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTLiquidacionCompraReembolso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTLiquidacionCompraReembolso" nillable="true" type="tns:ENTLiquidacionCompraReembolso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTLiquidacionCompraReembolso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTLiquidacionCompraReembolsoImpuestos" type="tns:ArrayOfENTLiquidacionCompraReembolsoImpuesto" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdReembolso" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodPaisPagoProveedorReembolso" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EstabDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PtoEmiDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialDocReembolso" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocReembolso" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroAutorizacionDocReemb" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTLiquidacionCompraReembolsoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTLiquidacionCompraReembolsoImpuesto" nillable="true" type="tns:ENTLiquidacionCompraReembolsoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTLiquidacionCompraReembolsoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiquidacionCompraImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponibleReembolso" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImpuestoReembolso" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdReembolso" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTLiquidacionCompraImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTLiquidacionCompraImpuesto" nillable="true" type="tns:ENTLiquidacionCompraImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTLiquidacionCompraImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DescuentoAdicional" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiquidacionCompraImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiquidacionCompra" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalLiquidacionCompra" nillable="true" type="tns:ENTDatoAdicionalLiquidacionCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalLiquidacionCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiquidacionCompra" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleLiquidacionCompra" nillable="true" type="tns:ENTDetalleLiquidacionCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleLiquidacionCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoPrincipal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoAuxiliar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnidadMedida" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Descuento" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioTotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiquidacionCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalDetalleLiquidacionCompra" type="tns:ArrayOfENTDatoAdicionalDetalleLiquidacionCompra" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleLiquidacionCompraImpuesto" type="tns:ArrayOfENTDetalleLiquidacionCompraImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalDetalleLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalDetalleLiquidacionCompra" nillable="true" type="tns:ENTDatoAdicionalDetalleLiquidacionCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalDetalleLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalDetalleLiquidacionCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleLiquidacionCompra" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleLiquidacionCompraImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleLiquidacionCompraImpuesto" nillable="true" type="tns:ENTDetalleLiquidacionCompraImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleLiquidacionCompraImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleLiquidacionCompraImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleLiquidacionCompra" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatosFacturadorManual">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FacturadorManual" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsaDirectorio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatosOpcionales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirectorioDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTMaquinaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Marca" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Modelo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Serie" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarLiquidacionCompraSRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarLiquidacionCompraSRIResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="LiquidacionCompra" type="tns:ENTLiquidacionCompra" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaEDOC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroComprobantes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="autorizaciones" type="tns:ArrayOfEAutorizacion" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comprobantes" type="tns:ArrayOfEComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EAutorizacion" nillable="true" type="tns:EAutorizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroAutorizacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaAutorizacion" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fechaAutorizacionSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ambiente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="comprobante" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMensaje" nillable="true" type="tns:EMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="identificador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensaje1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="informacionAdicional" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EComprobante" nillable="true" type="tns:EComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="claveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarLiquidacionCompraSRI_XML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Credencial" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="LiquidacionCompra" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarLiquidacionCompraSRI_XMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarLiquidacionCompraSRI_XMLResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>