Entidades/web references/WSRAD_KEY_CONSULTA4_3/WSRAD_KEY_CONSULTA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CiaTipoAlojamientoKey" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RucProveedor" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ConsultarFacturaResult" type="tns:ArrayOfENTFactura" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfENTFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTFactura" nillable="true" type="tns:ENTFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleFactura" type="tns:ArrayOfENTDetalleFactura" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTFacturaImpuesto" type="tns:ArrayOfENTFacturaImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalFactura" type="tns:ArrayOfENTDatoAdicionalFactura" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTPagos" type="tns:ArrayOfENTPagos" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTOtros" type="tns:ClsOtros" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioProceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GuiaRemision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalDescuento" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Propina" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Iva" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ice" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Moneda" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FechaCarga" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioAprueba" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAprueba" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioRachaza" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaRechaza" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArchivoXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioAsigna" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAsigna" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioElimina" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaElimina" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleFactura" nillable="true" type="tns:ENTDetalleFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoPrincipal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoAuxiliar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Descuento" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioTotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalDetalleFactura" type="tns:ArrayOfENTDatoAdicionalDetalleFactura" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleFacturaImpuesto" type="tns:ArrayOfENTDetalleFacturaImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalDetalleFactura" nillable="true" type="tns:ENTDatoAdicionalDetalleFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalDetalleFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleFacturaImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleFacturaImpuesto" nillable="true" type="tns:ENTDetalleFacturaImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleFacturaImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFacturaImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTFacturaImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTFacturaImpuesto" nillable="true" type="tns:ENTFacturaImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTFacturaImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdFacturaImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalFactura" nillable="true" type="tns:ENTDatoAdicionalFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalFactura">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTPagos" nillable="true" type="tns:ENTPagos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FormaPago" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Plazo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnidadTiempo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsOtros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTSumImpuesto" type="tns:ClsSumImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsSumImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IvaConTarifa_BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IvaSinTarifa_BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IvaConTarifa_Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarNC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CiaTipoAlojamientoKey" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RucProveedor" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ConsultarNCResult" type="tns:ArrayOfENTNotaCredito" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfENTNotaCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTNotaCredito" nillable="true" type="tns:ENTNotaCredito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTNotaCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaCredito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ContribuyenteEspecial" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rise" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocModificado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocModificado" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocModificado" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Iva" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ice" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorModificacion" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="MotivoModificacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Moneda" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTNotaCreditoImpuesto" type="tns:ArrayOfENTNotaCreditoImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalNotaCredito" type="tns:ArrayOfENTDatoAdicionalNotaCredito" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleNotaCredito" type="tns:ArrayOfENTDetalleNotaCredito" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioAprueba" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAprueba" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioRachaza" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaRechaza" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArchivoXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioAsigna" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAsigna" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioElimina" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaElimina" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTNotaCreditoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTNotaCreditoImpuesto" nillable="true" type="tns:ENTNotaCreditoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTNotaCreditoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaCreditoImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaCredito" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalNotaCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalNotaCredito" nillable="true" type="tns:ENTDatoAdicionalNotaCredito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalNotaCredito">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalNotaCredito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaCredito" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleNotaCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleNotaCredito" nillable="true" type="tns:ENTDetalleNotaCredito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleNotaCredito">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleNotaCredito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoPrincipal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoAuxiliar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Descuento" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioTotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaCredito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalDetalleNotaCredito" type="tns:ArrayOfENTDatoAdicionalDetalleNotaCredito" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleNotaCreditoImpuesto" type="tns:ArrayOfENTDetalleNotaCreditoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalDetalleNotaCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalDetalleNotaCredito" nillable="true" type="tns:ENTDatoAdicionalDetalleNotaCredito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalDetalleNotaCredito">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleNotaCredito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalDetalleNotaCredito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdCliente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Correo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Telefono" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Dirección" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleNotaCreditoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleNotaCreditoImpuesto" nillable="true" type="tns:ENTDetalleNotaCreditoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleNotaCreditoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleNotaCreditoImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleNotaCredito" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarND">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CiaTipoAlojamientoKey" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RucProveedor" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ConsultarNDResult" type="tns:ArrayOfENTNotaDebito" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfENTNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTNotaDebito" nillable="true" type="tns:ENTNotaDebito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DetalleNotaDebito" type="tns:ArrayOfENTDetalleNotaDebito" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaDebito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ContribuyenteEspecial" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rise" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocModificado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocModificado" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocModificado" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Iva" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ice" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonModificacion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorModificacion" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorTotal" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleNotaDebito" type="tns:ArrayOfENTDetalleNotaDebito" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalNotaDebito" type="tns:ArrayOfENTDatoAdicionalNotaDebito" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTNotaDebitoImpuesto" type="tns:ArrayOfENTNotaDebitoImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioAprueba" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAprueba" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioRachaza" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaRechaza" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArchivoXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioAsigna" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAsigna" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioElimina" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaElimina" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleNotaDebito" nillable="true" type="tns:ENTDetalleNotaDebito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdNotaDebitoMotivo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="Razon" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalNotaDebito" nillable="true" type="tns:ENTDatoAdicionalNotaDebito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalNotaDebito">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalNotaDebito" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaDebito" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTNotaDebitoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTNotaDebitoImpuesto" nillable="true" type="tns:ENTNotaDebitoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTNotaDebitoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaDebitoImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdNotaDebito" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarRetencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CiaTipoAlojamientoKey" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RucProveedor" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRetencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ConsultarRetencionResult" type="tns:ArrayOfENTRetencion" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfENTRetencion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTRetencion" nillable="true" type="tns:ENTRetencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTRetencion">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencion" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionSujetoRetenido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionSujetoRetenido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialSujetoRetenido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PeriodoFiscal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalRetencion" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalRetencion" type="tns:ArrayOfENTDatoAdicionalRetencion" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleRetencion" type="tns:ArrayOfENTDetalleRetencion" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioAprueba" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAprueba" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioRachaza" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaRechaza" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArchivoXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioAsigna" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAsigna" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioElimina" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaElimina" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalRetencion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalRetencion" nillable="true" type="tns:ENTDatoAdicionalRetencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalRetencion">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalRetencion" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencion" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleRetencion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleRetencion" nillable="true" type="tns:ENTDetalleRetencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleRetencion">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleRetencion" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoRetencion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PorcentajeRetener" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorRetenido" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocRetener" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocRetener" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocRetener" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencion" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarGR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CiaTipoAlojamientoKey" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RucProveedor" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarGRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ConsultarGRResult" type="tns:ArrayOfENTGuiaRemision" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfENTGuiaRemision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTGuiaRemision" nillable="true" type="tns:ENTGuiaRemision" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTGuiaRemision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioProceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmiDocSustento" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocSustento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialDestinatario" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RucDestinatario" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RucTranportista" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionDestinatario" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemision" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionPartida" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialTransportista" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionTransportista" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Rise" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaInicioTransporte" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaFinTransporte" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Placa" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTGuiaRemisionDestinatario" type="tns:ArrayOfENTGuiaRemisionDestinatario" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalGuiaRemision" type="tns:ArrayOfENTDatoAdicionalGuiaRemision" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioAprueba" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAprueba" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioRachaza" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaRechaza" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArchivoXml" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTGuiaRemisionDestinatario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTGuiaRemisionDestinatario" nillable="true" type="tns:ENTGuiaRemisionDestinatario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTGuiaRemisionDestinatario">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemisionDestinatario" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionDestinatario" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialDestinatario" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirDestinatario" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MotivoTraslado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocAduaneroUnico" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodEstabDestino" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruta" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocSustento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocSustento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumAutDocSustento" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocSustento" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemision" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTGuiaRemisionDetalle" type="tns:ArrayOfENTGuiaRemisionDetalle" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalGuiaRemisionDetalle" type="tns:ArrayOfENTDatoAdicionalGuiaRemisionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTGuiaRemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTGuiaRemisionDetalle" nillable="true" type="tns:ENTGuiaRemisionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTGuiaRemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemisionDetalle" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoInterno" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoAdicional" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemisionDestinatario" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalGuiaRemisionDetalle" type="tns:ArrayOfENTDatoAdicionalGuiaRemisionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalGuiaRemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalGuiaRemisionDetalle" nillable="true" type="tns:ENTDatoAdicionalGuiaRemisionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalGuiaRemisionDetalle">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalGuiaRemisionDetalle" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemisionDetalle" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalGuiaRemision">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalGuiaRemision" nillable="true" type="tns:ENTDatoAdicionalGuiaRemision" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalGuiaRemision">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalGuiaRemision" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdGuiaRemision" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarLC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CiaTipoAlojamientoKey" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="RucProveedor" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarLCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ConsultarLCResult" type="tns:ArrayOfENTLiquidacionCompra" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfENTLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTLiquidacionCompra" nillable="true" type="tns:ENTLiquidacionCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTLiquidacionCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleLiqCompra" type="tns:ArrayOfENTDetalleLiqCompra" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTLiqCompraImpuesto" type="tns:ArrayOfENTLiqCompraImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalLiqCompra" type="tns:ArrayOfENTDatoAdicionalLiqCompra" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTLiqCompraPagos" type="tns:ArrayOfENTLiqCompraPagos" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTLiqCompraOtros" type="tns:ClsLiqCompraOtros" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioProceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiqCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalDescuento" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Iva" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ice" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Moneda" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FechaCarga" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioAprueba" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAprueba" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdUsuarioRachaza" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaRechaza" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArchivoXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioAsigna" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAsigna" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioElimina" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaElimina" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleLiqCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleLiqCompra" nillable="true" type="tns:ENTDetalleLiqCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleLiqCompra">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleLiqCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoPrincipal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoAuxiliar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Descuento" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioTotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiquidacionCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalDetalleLiqCompra" type="tns:ArrayOfENTDatoAdicionalDetalleLiqCompra" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleLiqCompraImpuesto" type="tns:ArrayOfENTDetalleLiqCompraImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalDetalleLiqCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalDetalleLiqCompra" nillable="true" type="tns:ENTDatoAdicionalDetalleLiqCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalDetalleLiqCompra">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalDetalleLiqCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleLiqCompra" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleLiqCompraImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleLiqCompraImpuesto" nillable="true" type="tns:ENTDetalleLiqCompraImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleLiqCompraImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleLiqCompraImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTLiqCompraImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTLiqCompraImpuesto" nillable="true" type="tns:ENTLiqCompraImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTLiqCompraImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiqCompraImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiqCompra" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalLiqCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalLiqCompra" nillable="true" type="tns:ENTDatoAdicionalLiqCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalLiqCompra">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalLiqCompra" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdLiqCompra" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTLiqCompraPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTLiqCompraPagos" nillable="true" type="tns:ENTLiqCompraPagos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTLiqCompraPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FormaPago" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Plazo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnidadTiempo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsLiqCompraOtros">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTLiqCompraSumImpuesto" type="tns:ClsLiqCompraSumImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsLiqCompraSumImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IvaConTarifa_BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IvaSinTarifa_BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IvaConTarifa_Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>