Entidades/web references/wsEDoc_Factura/WSEDOCNUBE_FACTURAS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarFacturaSRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Credencial" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Factura" type="tns:ENTFactura" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ENTFactura">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Tipo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTFacturaCompensacion" type="tns:ArrayOfENTCompensacion" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTFacturaPagos" type="tns:ArrayOfENTFacturaPagos" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTFacturaReembolso" type="tns:ArrayOfENTFacturaReembolso" />
      <xs:element minOccurs="0" maxOccurs="1" name="ComercioExterior" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IncoTermFactura" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LugarIncoTerm" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaisOrigen" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuertoEmbarque" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuertoDestino" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaisDestino" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaisAdquisicion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IncoTermTotalSinImpuestos" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FleteInternacional" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="SeguroInternacional" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="GastosAduaneros" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="GastosTransporteOtros" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo7" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo8" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo9" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioProceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="GuiaRemision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialComprador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionComprador" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSubsidio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocReemb" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalComprobantesReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalBaseImponibleReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalImpuestoReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Propina" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Moneda" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="valorRetIva" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="valorRetRenta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTFacturaImpuesto" type="tns:ArrayOfENTFacturaImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalFactura" type="tns:ArrayOfENTDatoAdicionalFactura" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FechaCarga" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleFactura" type="tns:ArrayOfENTDetalleFactura" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatosOpcionales" type="tns:ENTDatosOpcionales" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatosFacturadorManual" type="tns:DatosFacturadorManual" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTCompensacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTCompensacion" nillable="true" type="tns:ENTCompensacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTCompensacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Codigo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tarifa" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTFacturaPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTFacturaPagos" nillable="true" type="tns:ENTFacturaPagos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTFacturaPagos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FormaPago" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Plazo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnidadTiempo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTFacturaReembolso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTFacturaReembolso" nillable="true" type="tns:ENTFacturaReembolso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTFacturaReembolso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTFacturaReembolsoImpuestos" type="tns:ArrayOfENTFacturaReembolsoImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTFacturaReembolsoCompensacion" type="tns:ArrayOfENTCompensacion" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdReembolso" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodPaisPagoProveedorReembolso" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EstabDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PtoEmiDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialDocReembolso" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocReembolso" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroAutorizacionDocReemb" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTFacturaReembolsoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTFacturaReembolsoImpuesto" nillable="true" type="tns:ENTFacturaReembolsoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTFacturaReembolsoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdFacturaImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponibleReembolso" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImpuestoReembolso" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdReembolso" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTFacturaImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTFacturaImpuesto" nillable="true" type="tns:ENTFacturaImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTFacturaImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DescuentoAdicional" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFacturaImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalFactura" nillable="true" type="tns:ENTDatoAdicionalFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalFactura">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleFactura" nillable="true" type="tns:ENTDetalleFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoPrincipal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoAuxiliar" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnidadMedida" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="precioSinSubsidio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Descuento" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecioTotalSinImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalDetalleFactura" type="tns:ArrayOfENTDatoAdicionalDetalleFactura" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDetalleFacturaImpuesto" type="tns:ArrayOfENTDetalleFacturaImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalDetalleFactura" nillable="true" type="tns:ENTDatoAdicionalDetalleFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalDetalleFactura">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalDetalleFactura" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDetalleFacturaImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDetalleFacturaImpuesto" nillable="true" type="tns:ENTDetalleFacturaImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDetalleFacturaImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFacturaImpuesto" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdDetalleFactura" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatosOpcionales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirectorioDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatosFacturadorManual">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FacturadorManual" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsaDirectorio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarFacturaSRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarFacturaSRIResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaEDOC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroComprobantes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="autorizaciones" type="tns:ArrayOfEAutorizacion" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comprobantes" type="tns:ArrayOfEComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EAutorizacion" nillable="true" type="tns:EAutorizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroAutorizacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaAutorizacion" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fechaAutorizacionSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ambiente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="comprobante" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMensaje" nillable="true" type="tns:EMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="identificador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensaje1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="informacionAdicional" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EComprobante" nillable="true" type="tns:EComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="claveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>