Entidades/web references/wsEDoc_ConsultaEmision_LOCAL/WSEDOC_CONSULTA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEDOC_CONSULTA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.gurusoft-lab.com/WS_EDOC/WSEDOC_CONSULTA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSEDOC_CONSULTA_ConsultarProcesoSincronizadorAX_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProcesoSincronizadorAX" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ConsultarProcesoSincronizadorAX_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProcesoSincronizadorAXResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ConsultarProcesoXClaveAcceso_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProcesoXClaveAcceso" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ConsultarProcesoXClaveAcceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProcesoXClaveAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ObtenerDocSinSincronizarXRucXEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocSinSincronizarXRucXEstado" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ObtenerDocSinSincronizarXRucXEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDocSinSincronizarXRucXEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ActualizarEstadoSincronizacionCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoSincronizacionCliente" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ActualizarEstadoSincronizacionCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoSincronizacionClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ConsultarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumento" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ConsultarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ConsultarDocumentoRuta_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoRuta" />
  </wsdl:message>
  <wsdl:message name="IWSEDOC_CONSULTA_ConsultarDocumentoRuta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDocumentoRutaResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSEDOC_CONSULTA">
    <wsdl:operation name="ConsultarProcesoSincronizadorAX">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarProcesoSincronizadorAX" message="tns:IWSEDOC_CONSULTA_ConsultarProcesoSincronizadorAX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarProcesoSincronizadorAXResponse" message="tns:IWSEDOC_CONSULTA_ConsultarProcesoSincronizadorAX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProcesoXClaveAcceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarProcesoXClaveAcceso" message="tns:IWSEDOC_CONSULTA_ConsultarProcesoXClaveAcceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarProcesoXClaveAccesoResponse" message="tns:IWSEDOC_CONSULTA_ConsultarProcesoXClaveAcceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocSinSincronizarXRucXEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ObtenerDocSinSincronizarXRucXEstado" message="tns:IWSEDOC_CONSULTA_ObtenerDocSinSincronizarXRucXEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ObtenerDocSinSincronizarXRucXEstadoResponse" message="tns:IWSEDOC_CONSULTA_ObtenerDocSinSincronizarXRucXEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoSincronizacionCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ActualizarEstadoSincronizacionCliente" message="tns:IWSEDOC_CONSULTA_ActualizarEstadoSincronizacionCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ActualizarEstadoSincronizacionClienteResponse" message="tns:IWSEDOC_CONSULTA_ActualizarEstadoSincronizacionCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarDocumento" message="tns:IWSEDOC_CONSULTA_ConsultarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarDocumentoResponse" message="tns:IWSEDOC_CONSULTA_ConsultarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumentoRuta">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarDocumentoRuta" message="tns:IWSEDOC_CONSULTA_ConsultarDocumentoRuta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarDocumentoRutaResponse" message="tns:IWSEDOC_CONSULTA_ConsultarDocumentoRuta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSEDOC_CONSULTA" type="tns:IWSEDOC_CONSULTA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarProcesoSincronizadorAX">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarProcesoSincronizadorAX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProcesoXClaveAcceso">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarProcesoXClaveAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDocSinSincronizarXRucXEstado">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_CONSULTA/ObtenerDocSinSincronizarXRucXEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoSincronizacionCliente">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_CONSULTA/ActualizarEstadoSincronizacionCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumento">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDocumentoRuta">
      <soap:operation soapAction="http://tempuri.org/IWSEDOC_CONSULTA/ConsultarDocumentoRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEDOC_CONSULTA">
    <wsdl:port name="BasicHttpBinding_IWSEDOC_CONSULTA" binding="tns:BasicHttpBinding_IWSEDOC_CONSULTA">
      <soap:address location="http://www.gurusoft-lab.com/WS_EDOC/WSEDOC_CONSULTA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>