Entidades/web references/WSEDOCNUBE_RETENCIONES_v4_3/WSEDOCNUBE_RETENCIONES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSEDOCNUBE_RETENCIONES" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gurusoft-lab.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_RETENCIONES.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSEDOCNUBE_RETENCIONES_EnviarRetencionSRI_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencionSRI" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_RETENCIONES_EnviarRetencionSRI_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencionSRIResponse" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_RETENCIONES_EnviarRetencionSRI_XML_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencionSRI_XML" />
  </wsdl:message>
  <wsdl:message name="IWSEDOCNUBE_RETENCIONES_EnviarRetencionSRI_XML_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarRetencionSRI_XMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSEDOCNUBE_RETENCIONES">
    <wsdl:operation name="EnviarRetencionSRI">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOCNUBE_RETENCIONES/EnviarRetencionSRI" message="tns:IWSEDOCNUBE_RETENCIONES_EnviarRetencionSRI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOCNUBE_RETENCIONES/EnviarRetencionSRIResponse" message="tns:IWSEDOCNUBE_RETENCIONES_EnviarRetencionSRI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarRetencionSRI_XML">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSEDOCNUBE_RETENCIONES/EnviarRetencionSRI_XML" message="tns:IWSEDOCNUBE_RETENCIONES_EnviarRetencionSRI_XML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSEDOCNUBE_RETENCIONES/EnviarRetencionSRI_XMLResponse" message="tns:IWSEDOCNUBE_RETENCIONES_EnviarRetencionSRI_XML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSEDOCNUBE_RETENCIONES" type="tns:IWSEDOCNUBE_RETENCIONES">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarRetencionSRI">
      <soap:operation soapAction="http://tempuri.org/IWSEDOCNUBE_RETENCIONES/EnviarRetencionSRI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarRetencionSRI_XML">
      <soap:operation soapAction="http://tempuri.org/IWSEDOCNUBE_RETENCIONES/EnviarRetencionSRI_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSEDOCNUBE_RETENCIONES">
    <wsdl:port name="BasicHttpBinding_IWSEDOCNUBE_RETENCIONES" binding="tns:BasicHttpBinding_IWSEDOCNUBE_RETENCIONES">
      <soap:address location="http://gurusoft-lab.com/eDocEcuador/4.3/Nube/WSEDOC/WSEDOCNUBE_RETENCIONES.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>