Entidades/web references/WSEDOCNUBE_RETENCIONES_v4_3/WSEDOCNUBE_RETENCIONES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarRetencionSRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Credencial" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Retencion" type="tns:ENTRetencion" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ENTRetencion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Campo1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo6" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo7" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo8" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo9" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo11" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo12" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo13" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo14" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Campo15" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoTransaccionERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioTransaccionERP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencion" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="AutorizacionSRI" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaAutorizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="Ambiente" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="TipoEmision" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreComercial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Ruc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PuntoEmision" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Establecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Secuencial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionMatriz" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DireccionEstablecimiento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContribuyenteEspecial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ObligadoContabilidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionSujetoRetenido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionSujetoRetenido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RazonSocialSujetoRetenido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PeriodoFiscal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalRetencion" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialERP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatoAdicionalRetencion" type="tns:ArrayOfENTDatoAdicionalRetencion" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTRetencionDocSustento" type="tns:ArrayOfENTRetencionDocSustento" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTDatosOpcionales" type="tns:ENTDatosOpcionales" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatosFacturadorManual" type="tns:DatosFacturadorManual" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveCertificado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreArchivo" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tipo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoSujetoRetenido" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ParteRel" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreIntegracion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTMaquinaFiscal" type="tns:ENTMaquinaFiscal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTDatoAdicionalRetencion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTDatoAdicionalRetencion" nillable="true" type="tns:ENTDatoAdicionalRetencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatoAdicionalRetencion">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdDatoAdicionalRetencion" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Descripcion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencion" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTRetencionDocSustento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTRetencionDocSustento" nillable="true" type="tns:ENTRetencionDocSustento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTRetencionDocSustento">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencionDocSustento" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocSustento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumDocSustento" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocSustento" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencion" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodSustento" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaRegistroContable" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumAutDocSustento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PagoLocExt" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoRegi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaisEfecPago" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AplicConvDobTrib" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PagExtSujRetNorLeg" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PagoRegFis" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalComprobantesReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalBaseImponibleReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalImpuestoReembolso" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalSinImpuestos" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTRetencionDocSustentoImpuesto" type="tns:ArrayOfENTRetencionDocSustentoImpuesto" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTRetencionDocSustentoRetencion" type="tns:ArrayOfENTRetencionDocSustentoRetencion" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTRetencionDocSustentoReembolso" type="tns:ArrayOfENTRetencionDocSustentoReembolso" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTRetencionDocSustentoPago" type="tns:ArrayOfENTRetencionDocSustentoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTRetencionDocSustentoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTRetencionDocSustentoImpuesto" nillable="true" type="tns:ENTRetencionDocSustentoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTRetencionDocSustentoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CodImpuestoDocSustento" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorImpuesto" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencionDocSustento" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTRetencionDocSustentoRetencion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTRetencionDocSustentoRetencion" nillable="true" type="tns:ENTRetencionDocSustentoRetencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTRetencionDocSustentoRetencion">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodigoRetencion" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="PorcentajeRetener" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValorRetenido" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencionDocSustento" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaPagoDiv" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImRentaSoc" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="EjerFisUtDiv" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="NumCajBan" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="PrecCajBan" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTRetencionDocSustentoReembolso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTRetencionDocSustentoReembolso" nillable="true" type="tns:ENTRetencionDocSustentoReembolso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTRetencionDocSustentoReembolso">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencionDocSustentoReembolso" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoIdentificacionProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IdentificacionProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodPaisPagoProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TipoProveedorReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EstabDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PtoEmiDocReembolso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecuencialDocReembolso" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FechaEmisionDocReembolso" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroAutorizacionDocReemb" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ENTRetencionDocSustentoReembolsoImpuesto" type="tns:ArrayOfENTRetencionDocSustentoReembolsoImpuesto" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencionDocSustento" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTRetencionDocSustentoReembolsoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTRetencionDocSustentoReembolsoImpuesto" nillable="true" type="tns:ENTRetencionDocSustentoReembolsoImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTRetencionDocSustentoReembolsoImpuesto">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Codigo" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CodigoPorcentaje" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BaseImponibleReembolso" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tarifa" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImpuestoReembolso" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencionDocSustentoReembolso" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfENTRetencionDocSustentoPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ENTRetencionDocSustentoPago" nillable="true" type="tns:ENTRetencionDocSustentoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTRetencionDocSustentoPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FormaPago" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Total" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IdRetencionDocSustento" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTDatosOpcionales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MailResponsable" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UsuarioCreador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DirectorioDocumento" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NombreDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatosFacturadorManual">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="FacturadorManual" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="UsaDirectorio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTMaquinaFiscal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Marca" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Modelo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Serie" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarRetencionSRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarRetencionSRIResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RespuestaEDOC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NumeroComprobantes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="autorizaciones" type="tns:ArrayOfEAutorizacion" />
      <xs:element minOccurs="0" maxOccurs="1" name="Comprobantes" type="tns:ArrayOfEComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EAutorizacion" nillable="true" type="tns:EAutorizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAutorizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="estado" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroAutorizacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ClaveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fechaAutorizacion" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fechaAutorizacionSpecified" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ambiente" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="comprobante" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMensaje" nillable="true" type="tns:EMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="identificador" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensaje1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="informacionAdicional" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EComprobante" nillable="true" type="tns:EComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="claveAcceso" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mensajes" type="tns:ArrayOfEMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarRetencionSRI_XML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Credencial" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Entorno" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Retencion" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarRetencionSRI_XMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnviarRetencionSRI_XMLResult" type="tns:RespuestaEDOC" />
        <xs:element minOccurs="0" maxOccurs="1" name="mensaje" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>